/*
This is a good layout for a mobile-first CSS template.
Following this flow will minimize the number of styles you need to write and will ensure you are thinking, designing and developing mobile-first.
Most of your styles get written like standard CSS, but for your mobile presentation. Generally speaking, a good mobile presention will stretch out nicely for larger screens.

Sometimes, when we stretch out to larger screens, we need to make minor tweaks for the larger devices -- you can make these tweaks in the tablet media query, or if the issue exists on desktop only, the desktop media query.
You will find this is far easier than the opposite task of using CSS to cram your desktop experience into a mobile device.
*/
/*********************************************************************
 LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES
*********************************************************************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
    padding: 5px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
}

.cup-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 16px;
}

.cup-image {
  width: 120px;
  height: auto;
  display: block;
}

.ball-image {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}

.bottom-message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {
    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */

}
/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 729px) {
/* Any adjustments for desktop and larger go here.
Note these styles will be applied to anything 729px or larger */
}